* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}
.main {
    border: 1px solid red;
}
.main-container {
    display: flex;
}
.section {
    width: 50%;
  }

.sidebar {
    background-color: rgba(0, 255, 255, 0.099);
    width: 35%;
    padding: 10px;
}
.right_column {
    background-color: rgba(137, 43, 226, 0.209);
    width: 65%;
    margin-left: 15px;
    padding: 10px;
}
.nav {
    height: 50px;
}
.nav_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav_item {
    font-style: italic;
    font-size: 16px;
}
.nav_link {
    padding: 0 10px;
    line-height: 30px;
    text-decoration: none;
    color: rgb(144, 8, 94);
}
.nav_link:hover {
    transition: .3s;
    color: #3b039c;
    text-decoration: none;  
    transition: color 0.35s;
    text-decoration: underline;
}

.photo {
    width: 85%;
    display: block;
    margin: 0 auto;
}
  
  
  
  
  
  
  
  

 .footer_elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}